<html>
    <head>
        <meta http-equiv='X-UA-Compatiable' content='ie=edge'>
    	<!--Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
    	<!-- CSS only -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="/static/styles.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='our_study_icon.ico') }}">
    </head>
    <body>
        <div>
            <div id="main" class="LandingPage">
                <div class="welcomeMessage"> Welcome to Our Study! </div>
                <div class="left">
                    <div class='landingQuestion'>Who are we?</div>
                    <div class="whoWeAre">
                        <p>We are Group 7!</p>
                        <p>Our group members are Jason Molisani, Navado Wray, Mitchell Mecca, George Alvarado, and Nick Bullaro.</p>
                        <p>We are all seniors at NJIT interested in persuing a career in software engineering.</p>
                        <p>As part of our Design in Software Engineering class, we created this web app to demonstrate the core concepts we have learned so far.</p>
                    </div>
                    <div class='landingQuestion'>What did we make?</div>
                    <div class="whatWeMade">
                        <p>Our web app is a collaborative study app. We combined Zoom, Google Drawing, and Quizlet Flashcards into one easy-to-use app!</p>
                    </div>
                </div>
                <div class="right">
                    <div class='landingQuestion'>How did we make our app?</div>
                    <div class="whatWeUsed">
                        <p class="backend">We made this app through full-stack development.</p>
                        <p class="backend">We used python, Socketio, Flask, SQLAlchemy, and Postgres 
                            in the backend to make our app function the way it's supposed to.</p>
                        <p class="frontend">We used Javascript, React, HTML, CSS, and more in the front-end to make our app show what it needed to and look pretty!</p>
                        <p>We also used Google and Facebook Oauth for access control and Twilio Video for our audio/video streaming.</p>
                    </div>
                </div>
            </div>
            <div class="tryIt">Wanna try it out?</div>
            <div class="whereItIs">
                <p class="loadingButton">To be redirected to the login page, you can click this button!</p>
            </div>
            <div>
                <button class="redirectButton" type="button"><a href="index.html">Head to the app!</a></button>
            </div>
        </div>
    </body>
</html>